
body, html {height: 100%}

  .searchCriteria {
    height: 100px;
  }

.searchResults {
	height: 300px
	
}

.menu {float:left; margin-right: 30px; width: 100px;}

.panel {
	position:absolute; z-index: 10; left:-9999px; background: #fff; border: 1px solid #ccc; box-shadow: 0 0 3px -2px rgba(0,0,0,.2); 
	
}


  
  #thumbContainer
   {
	   height: 100% !important;
	clear: both;  
  }